---
interface Props {
  title: string
  description: string
  imageUrl: string
  linkUrl: string
}
---

<!-- Tarjeta de contenido para HomeSite Sección Servicios -->
<div class='w-[1000px] relative flex justify-between'>
  <!-- Card 1 - LinkedIn -->
  <div class='relative rounded-lg group'>
    <!-- Face 1 -->
    <div
      class='relative bg-gray-800 w-[300px] h-[200px] flex justify-center items-center z-10 transform translate-y-[100px] group-hover:translate-y-0 group-hover:bg-pink-600 transition-all duration-500'
    >
      <div class='relative'>
        <div
          class='absolute top-0 left-0 w-full h-full bg-[#e07768] transition-all duration-700 z-[1]'
        >
          <i
            class='fa fa-linkedin-square absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[80px] text-white transition-all duration-700'
          ></i>
        </div>
      </div>
    </div>

    <!-- Face 2 -->
    <div
      class='relative bg-white w-[300px] h-[200px] flex justify-center items-center p-5 box-border shadow-[0_20px_50px_rgba(0,0,0,0.8)] transform -translate-y-[100px] group-hover:translate-y-0 transition-all duration-500'
    >
      <div class='content'>
        <h3 class='m-0 mb-2.5 p-0 text-2xl text-center text-gray-700'>
          <a
            href='https://www.linkedin.com/in/adamdipinto/'
            target='_blank'
            class='no-underline text-gray-700'>_adamdipinto</a
          >
        </h3>
        <p class='m-0 p-0 text-center text-gray-700'>
          This is where I network and build my professional protfolio.
        </p>
      </div>
    </div>
  </div>

  <!-- Card 2 - Twitter -->
  <div class='relative rounded-lg group'>
    <!-- Face 1 -->
    <div
      class='relative bg-gray-800 w-[300px] h-[200px] flex justify-center items-center z-10 transform translate-y-[100px] group-hover:translate-y-0 group-hover:bg-pink-600 transition-all duration-500'
    >
      <div class='relative'>
        <div
          class='absolute top-0 left-0 w-full h-full bg-[#6eadd4] transition-all duration-700 z-[1]'
        >
          <i
            class='fa fa-twitter-square absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[80px] text-white transition-all duration-700'
          ></i>
        </div>
      </div>
    </div>

    <!-- Face 2 -->
    <div
      class='relative bg-white w-[300px] h-[200px] flex justify-center items-center p-5 box-border shadow-[0_20px_50px_rgba(0,0,0,0.8)] transform -translate-y-[100px] group-hover:translate-y-0 transition-all duration-500'
    >
      <div class='content'>
        <h3 class='m-0 mb-2.5 p-0 text-2xl text-center text-gray-700'>
          <a
            href='https://twitter.com/AdamDipinto'
            target='_blank'
            class='no-underline text-gray-700'>@AdamDipinto</a
          >
        </h3>
        <p class='m-0 p-0 text-center text-gray-700'>
          This is where I read news and network with different social groups.
        </p>
      </div>
    </div>
  </div>

  <!-- Card 3 - GitHub -->
  <div class='relative rounded-lg group'>
    <!-- Face 1 -->
    <div
      class='relative bg-gray-800 w-[300px] h-[200px] flex justify-center items-center z-10 transform translate-y-[100px] group-hover:translate-y-0 group-hover:bg-pink-600 transition-all duration-500'
    >
      <div class='relative'>
        <div
          class='absolute top-0 left-0 w-full h-full bg-[#4aada9] transition-all duration-700 z-[1]'
        >
          <i
            class='fa fa-github-square absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[80px] text-white transition-all duration-700'
          ></i>
        </div>
      </div>
    </div>

    <!-- Face 2 -->
    <div
      class='relative bg-white w-[300px] h-[200px] flex justify-center items-center p-5 box-border shadow-[0_20px_50px_rgba(0,0,0,0.8)] transform -translate-y-[100px] group-hover:translate-y-0 transition-all duration-500'
    >
      <div class='content'>
        <h3 class='m-0 mb-2.5 p-0 text-2xl text-center text-gray-700'>
          <a
            href='https://github.com/atom888'
            target='_blank'
            class='no-underline text-gray-700'>atom888</a
          >
        </h3>
        <p class='m-0 p-0 text-center text-gray-700'>
          This is where I share code and work on projects.
        </p>
      </div>
    </div>
  </div>
</div>
