---
interface Props {
  heading: string
}
const {heading} = Astro.props
---

<div class='text-center'>
  <h3 class='text-sm font-black uppercase text-sky-600 mb-4'>{heading}</h3>
  <div>
    <slot />
  </div>
</div>
